* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.red-bg {
    background: #ffc2c2;
}

nav {
    background-color: #5EB1BF;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-family: Arial, sans-serif;
}
nav a:hover {
    opacity: 0.8;
}
.branding {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.branding h1 {
    display: none;
}

#about {
    background-color: #5EB1BF;
    padding: 1.5rem;
}

#services {
    background-color: #ffffff;
    padding: 1rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.services-card {
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1.5rem;
    flex: 1;
}

.services-card ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
}