@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

details summary {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

details summary {
  display: flex;
  justify-content: space-between; /* pushes text left, symbol right */
  align-items: center;
  cursor: pointer;
}

details summary {
  cursor: pointer;
  list-style: none;
}

details summary::after {
  content: "^";
  display: inline-block; /* keeps it inline and transformable */
  margin-left: 1em; /* spacing from text */
  font-size: 1em; /* matches text size */
  vertical-align: middle; /* keeps it aligned with text */
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

details[open] summary::after {
  transform: rotate(0deg);
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


ul {
  font-size: 1rem;
  list-style-type: disc;
  margin-left: 1.5rem;
}

details {
  background-color: rgb(219, 219, 219);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.25rem 0;
}

details > div > hr {
  margin: 0.5rem 0;
}

.cta {
  @apply bg-white rounded-lg p-2 text-teal-800 font-semibold hover:scale-105 transition-all;
}

.cta-secondary {
  @apply bg-teal-800 rounded-lg p-1.5 text-white font-semibold border-3 border-white;
}

input, textarea, form {
  @apply border-2 border-gray-300 rounded-md p-1 w-4/5;
}

select {
  @apply border-2 border-gray-300 rounded-md w-4/5 py-1;
}

label {
  @apply font-medium;
}

.gdoc {
  height: calc(100vh * 1.4);
}